{% extends 'main/base.html' %}

{% block content %}

<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="card-img-top"
             data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
             alt="Card image cap">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">{{ object.title }} ({{ object.slug }})</h2>
        <p class="card-text">{{ object.body }}</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        <div class="btn-group">
          <a href="{% url 'materials:list' %}" class="btn btn-sm btn-outline-primary">Назад</a>
        </div>
        <div class="card-footer">
          <h6>Просмотры: {{ object.views_count }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}