<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-image: url("/static/main/images/01_blackhole.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
{% load static %}
<img src="{% static '/main/images/02_sputnik.png' %}" alt="Logo">
<!--<img src="/static/main/images/02_sputnik.png" alt="Your Image2">-->
    <h1>Hello World!</h1>
    <br>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Имя"><br>
        <input type="email" name="email" placeholder="Почта"><br>
        <textarea name="message" placeholder="Сообщение"></textarea><br>
        <input type="submit" value="Отправить">
    </form>
</body>
</html>
