{% extends 'main/base.html' %}

{% block content %}
<div class="col-12">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Информация о студенте
                </h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>Имя</td>
                        <td>{{ object.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Фамилия</td>
                        <td>{{ object.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Почта</td>
                        <td>{{ object.email }}</td>
                    </tr>
                </table>

            </div>
            <div class="card-footer"></div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Предметы студента
                </h3>
            </div>
            <div class="card-body">
                <ul>
                {% for subject in subjects %}
                    <li>{{ subject }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>
{% endblock %}